h1 {
    color: rgb(47, 48, 47);
    font-size: 24px; 
    font-family: "Helvetica";
    text-align: left;
    padding-left: 20px;
}
p{
    color: rgb(85, 87, 85);
    font-size: 16px; 
    font-family: "Helvetica";
    text-align: left;
    padding-left: 20px;
}