<div class="map" id="map"
  style="width: 100%; height: 100%; position: relative; left: 0; top: 0px;">
</div>
<nav id="listing-group" class="listing-group">
  <input type="checkbox" (click)="toggleTestData()" id="toggleTestData" checked="checked" />
  <label for="toggleTestData">Get Test Data</label>
  <input type="checkbox" (click)="toggleDePaulData()" id="toggleDePaulData" checked="checked" />
  <label for="toggleDePaulData">Get DePaul Data</label>
  <input type="checkbox" (click)="toggleOakData()" id="toggleOakData" checked="checked" />
  <label for="toggleOakData">Oak</label>
  <input type="checkbox" (click)="toggleMapleData()" id="toggleMapleData" checked="checked" />
  <label for="toggleMapleData">Maple</label>
  <input type="checkbox" (click)="toggleAshData()" id="toggleAshData" checked="checked" />
  <label for="toggleAshData">Ash</label>
  <input type="checkbox" (click)="toggleFurData()" id="toggleFurData" checked="checked" />
  <label for="toggleFurData">Fur</label>
  <input type="checkbox" (click)="toggleCherryData()" id="toggleCherryData" checked="checked" />
  <label for="toggleCherryData">Cherry</label>
  <input type="checkbox" (click)="togglePineData()" id="togglePineData" checked="checked" />
  <label for="togglePineData">Pine</label>
</nav>
