<form
  [formGroup]="this.plantMetadataService.form"
  (ngSubmit)="onSubmit()"
  style="
    display: flex;
    flex-direction: column;"
>
    <input
      matInput
      placeholder="Uploader Name"
      formControlName="uploaderName"
      type="text"
    >

    <input
      matInput
      placeholder="Upload Id"
      formControlName="uploadId"
      type="text"
     >

    <select matNativeControl class="custom-select" (change)="changePlantType($event)" formControlName="plantType">
      <option value="">Plant Type</option>
      <option *ngFor="let plantName of plantType" [ngValue]="plantName">{{plantName}}</option>
    </select>

    <input
      matInput
      placeholder="Latitude"
      formControlName="latitude"
      type="text"
     >

    <input
      matInput
      placeholder="Longitude"
      formControlName="longitude"
      type="text"
    >
 <!--for uploading file section-->
    <input
    matInput
    placeholder="Choosefile"
    formControlName="choosefile"
    type="file" 
    accept=".png, .jpg"
    (change="onFileSelect($event)">

    <button 
    style="margin: 10px;"
    (click)="setUpload()"
    >Upload</button>
  <!---->

    <input
      matInput
      placeholder="Tags (Separated by comma)"
      formControlName="tags"
      type="text"
    >

  <br>

  <input type="file" (change)="onFileSelected($event)">
  <button type="button">Upload Image</button>

  <button
    mat-stroked-button
    style="margin: 10px;"
    (click)="onSubmit()"
  >
    Submit
  </button>
</form>

