<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <mat-toolbar
    style="background-color: #3CB371;"
    >
      <mat-toolbar-row>
        <button
          mat-stroked-button
          style="margin: 10px;"
          (click)="toggleMenu()"
        >
          Open Side Bar!
        </button>
        <span>Oak Tree Mapper!</span>
          <input type="file" (change)="onFileSelected($event)">
          <button type="button">Upload</button>
      </mat-toolbar-row>
    
    </mat-toolbar>
  </div>
</header>

<div>
  <mat-drawer-container
    style="position:fixed; height: 100%; width: 100%;"
  >
    <mat-drawer
      mode="side"
      [opened]="menuOpen"
      style="background-color: #3CB371; width: 270px; height: 100%;"
    >
      <div class="container">
        <div class="row">
          <app-plant-metadata class="col s6"></app-plant-metadata>
          <app-plant-metadata-list class="col s6"></app-plant-metadata-list>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <app-map></app-map>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
