<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    
    <mat-toolbar
    >
    
      <mat-toolbar-row>
        <button
          mat-stroked-button
          style="margin: 10px;
          background-color: #4CAF50;
          border:2px solid;
          color:white;
          border-radius: 10px;
          padding:0px 20px;
          font-size: 14px;"
          (click)="toggleMenu()"
        >
          Open Side Bar!
        </button>

        
        <nav>
          <a routerLink="/about" routerLinkActive="active">About Us!</a>
        </nav>

        <router-outlet></router-outlet>

        <img src="assets/images/logo2.001.png" class="center">
        

      </mat-toolbar-row>
    
    </mat-toolbar>

  </div>
</header>


<div>
  <mat-drawer-container
    style="position:fixed; height: 100%; width: 100%;"
  >
    <mat-drawer
      mode="side"
      [opened]="menuOpen"
      style="background-color: rgb(61, 126, 81); width: 270px; height: 100%;"
    >
      <div class="container">
        <div class="row">
          <app-plant-metadata class="col s6"></app-plant-metadata>
          <app-plant-metadata-list class="col s6"></app-plant-metadata-list>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <app-map></app-map>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
