mat-toolbar-row{
    padding-top: 65px;
    padding-bottom: 65px;
    
}
span {
    color: white;
    font-size: 50px; 
    font-family: "Helvetica";
    text-align: center;
    padding-left: 460px;
    
}