<button type="button" (click)="toggleShowData()">Show DB List</button>

<div *ngIf="showData === true">
<p> Here is the data from the database!</p>
<tbody>
  <tr *ngFor="let metadata of plantMetadataList">
    <td>{{ metadata.payload.doc.data().uploaderName }}</td>
    <td>{{ metadata.payload.doc.data().plantType }}</td>
    <td>{{ metadata.payload.doc.data().latitude }}</td>
    <td>{{ metadata.payload.doc.data().longitude }}</td>
    <td>{{ metadata.payload.doc.data().tags }}</td>
  </tr>
</tbody>
</div>
